name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - name: Build mdbook
        run: mdbook build --dest-dir out

      - name: Setup Go environment
        uses: actions/setup-go@v5.6.0

      - name: Install mdbook-sitemap-generator
        run: go install github.com/loicsikidi/mdbook-sitemap-generator@latest

      - name: Generate sitemap
        run: mdbook-sitemap-generator --domain rsdocsjp.org --output out/sitemap.xml

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./out

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
