name: CI

on:
  pull_request:
  push:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - name: Build mdbook
        run: mdbook build --dest-dir out

      - name: Cache Cargo registry and Cargo bin
        id: cargo-cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock','**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install mdbook-utils
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo install mdbook-utils

      - name: Generate sitemap
        run: mdbook-utils sitemap -o out/sitemap.xml -b https://rsdocsjp.org/ -y
